<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.broadcast.marketing.sync</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>__BROADCAST_MARKETING_DIR__/sync_and_build.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__BROADCAST_MARKETING_DIR__</string>
    <key>StartInterval</key>
    <integer>21600</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>__BROADCAST_MARKETING_DIR__/sync_launchd.log</string>
    <key>StandardErrorPath</key>
    <string>__BROADCAST_MARKETING_DIR__/sync_launchd_error.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
